.darkMode {
  background-color: #313638;
  color: #e0dfd5;
}

.darkMode2 {
  background-color: #01506f;
  color: #e0dfd5;
}

.btnDarkLight {
  margin: 3em;
}

.darkModeCard {
  background-color: #313638;
}
