///////////////////////////TECNOLOGIES

.technologies {
  grid-area: tec;
  padding: 0 15em;
  height: 100vh;
  transition: background-color 800ms ease;

  h1 {
    font-size: 4em;
    padding: 2em 0;
  }

  h3 {
    font-size: 1.5em;
    padding: 1em 0;
  }
}

.tec_icons {
  @include flex-center;
  font-size: 7em;
  height: 3em;

  i {
    margin: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  .technologies {
    grid-area: tec;
    display: flex;
    flex-direction: column;
    height: 30em;
    padding: 0 2em;

    h1 {
      @include h1;
    }

    h3 {
      font-size: 1em;
      padding: 0;
    }
  }

  .tec_icons {
    @include flex-column-start;
    font-size: 4em;
    padding-top: 0.5em;

    i {
      margin: 0.5em;
    }
  }
}
