* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///////////////////////////// GRID LAYOUT

.div_contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr 100vh 25vh;
  grid-template-areas:
    "header   "
    "projects "
    "tec      "
    "footer   ";
}

///////////////////////////// HEADER

.header_contenedor {
  grid-area: header;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "nav  nav  nav  nav"
    "hero hero hero hero";
  align-items: center;
  padding: 0 15em;
}

/////////////////////////NAVBAR
.navbar {
  grid-area: nav;
}

.portfolio {
  padding: 0 1em;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  display: flex;

  li {
    margin: 0 3em;

    a {
      text-decoration: none;
      font-size: 1.5em;
      font-weight: bold;
      color: #000000;
    }
  }
}

/////////////////////////////SOCIAL ICONS

.social_media {
  padding-right: 3em;
}

.socialIcons {
  text-decoration: none;
}

.icons {
  font-size: 3em;
  color: #000000;
  margin: 1em;
  background-color: #fff;
}

/////////////////////////////HERO

.hero {
  width: 100%;
  grid-area: hero;

  h1 {
    font-size: 5em;
  }

  p {
    font-size: 1.5em;
    padding: 1.5em 0;
  }
}

.button_cv {
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 1em 0;
  font-size: 1em;
  background: linear-gradient(270deg, #13c782 0%, #1334c7 100%);
}

/////////////////////////////PROJECTS

.projects {
  grid-area: projects;
  padding-left: 5em;
  background-color: #0000002d;
  justify-content: center;
  padding: 0 15em;

  h1 {
    font-size: 4em;
    padding: 2em 0;
  }
}
.project_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.project {
  width: 28em;
  height: 40em;
  border: 5px solid #0000002d;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 8em;
  background-color: rgba(255, 255, 255, 0.836);
  -webkit-box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.78);
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.78);

  img {
    width: 90%;
    align-content: center;
    -webkit-box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.78);
    box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.78);
  }

  p {
    padding: 2em;
  }

  div {
    h3 {
      text-align: center;
    }
    .project_stack {
      display: flex;

      h5 {
        padding: 0.5em;
      }
    }
  }
}

.img {
  padding: 1em;
  display: flex;
  justify-content: center;
}

///////////////////////////TECNOLOGIES

.technologies {
  grid-area: tec;
  padding: 0 15em;
  height: 100vh;

  h1 {
    font-size: 4em;
    padding: 2em 0;
  }

  h3 {
    font-size: 1.5em;
    padding: 1em 0;
  }
}

.tec_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  height: 3em;

  i {
    margin: 0.5em;
  }
}

///////////////////////////////////FOOTER

.footer_conteiner {
  grid-area: footer;
  background-color: #d2d2d2;
  display: grid;
  height: 20em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "tel email . ."
    "text .    . socialIcons";
  justify-items: center;
  align-items: center;
  padding: 0 15em;
}
.call {
  grid-area: tel;
  color: #5e5c5c;

  a {
    text-decoration: none;
    font-size: 1.1em;
    color: #3a3a3a;
    padding: 1em;
  }
}

.email {
  grid-area: email;
  color: #5e5c5c;

  a {
    text-decoration: none;
    font-size: 1.1em;
    color: #3a3a3a;
    padding: 1em;
  }
}

.footer_text {
  grid-area: text;
  color: #3a3a3a;
}

.footerSocial_media {
  grid-area: socialIcons;

  i {
    background-color: #d2d2d2;
    font-size: 3em;
  }
}

.about {
  font-size: 12em;
}

//////////////////////////////////MOBILE

@media screen and (max-width: 480px) {
  .div_contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 1fr 100vh 25vh;
    grid-template-areas:
      "header   "
      "projects "
      "tec      "
      "footer   ";
  }

  .header_contenedor {
    grid-area: header;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "nav  nav "
      "hero hero";
    padding: 0 2em;
  }
  ///////////////////////////////NAVBAR

  .portfolio {
    padding: 0 0.2em;
    font-size: 1em;
    text-decoration: none;
    color: #000000;
    grid-area: port;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "port social"
      "list list  ";

    ul {
      grid-area: list;
    }

    li {
      margin: 0 0.5em;

      a {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: #000000;
      }
    }
  }

  /////////////////////////////SOCIAL ICONS

  .social_media {
    grid-area: social;
    display: flex;
    padding-right: 0;
  }

  .icons {
    font-size: 1.8em;
    margin: 1em;
  }

  /////////////////////////////HERO

  .hero {
    width: 100%;
    grid-area: hero;

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.3em;
      padding: 0.5em 0;
    }
  }

  .button_cv {
    padding: 10px;
    margin: 0;
    font-size: 1em;
  }

  /////////////////FIN MEDIA QUERIE
}

// @media screen and (max-width: 1294px) {
//   .navbar h3 {
//     padding: 0 1em;
//     font-size: 1em;
//   }

//   ul li {
//     font-size: 0.7em;
//   }

//   .icons {
//     font-size: 1.7em;
//     color: #000000;
//     margin: 0.7em;
//     background-color: #fff;
//   }

//   .hero {
//     h1 {
//       font-size: 3.8em;
//     }

//     p {
//       font-size: 1.1em;
//       padding: 0 0;
//     }
//   }
// }
