* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.div_contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 5fr 5fr 1fr;
  grid-template-areas: "header   header   header   header" "projects projects projects projects" "tec      tec      tec      tec" "footer   footer   footer   footer"; }

.header_contenedor {
  grid-area: header;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "nav  nav  nav  nav" "hero hero hero hero";
  align-items: center;
  padding-left: 5em; }

.projects {
  grid-area: projects; }

.tecnologies {
  grid-area: tec; }

.footer_conteiner {
  grid-area: footer; }

.navbar {
  grid-area: nav; }
  .navbar .portfolio {
    display: flex; }
  .navbar h3 {
    padding: 0 1em;
    font-size: 1em; }

ul {
  list-style: none;
  display: flex; }

li {
  margin: 0 3em; }

li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #000000; }

.socialIcons {
  text-decoration: none; }

.icons {
  font-size: 2em;
  color: #000000;
  margin: 1em;
  background-color: #fff; }

.hero {
  width: 100%;
  grid-area: hero; }
  .hero h1 {
    font-size: 5em; }
  .hero p {
    font-size: 1.5em;
    padding: 1.5em 0; }

.button_cv {
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 1em 0;
  font-size: 1em;
  background: linear-gradient(270deg, #13c782 0%, #1334c7 100%); }

.projects h1 {
  font-size: 4em;
  padding: 2em 0; }

.project_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4em;
  margin-bottom: 10em; }

.project {
  width: 10em;
  height: 10em;
  justify-content: center;
  align-content: center; }

.technologies h1 {
  font-size: 4em;
  padding: 2em 0; }

.about {
  font-size: 12em; }
