.div_contenedor_about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 25vh;
  grid-template-areas:
    "header   "
    "footer   ";
}

.about_hero {
  height: 44em;
  width: 90em;
}
.about_text_h2 {
  font-size: 2em;
  padding-top: 7em;
}

.about_text_p {
  font-weight: 300;
  padding-top: 1em;
  font-size: 1.5em;
}

#logo2 {
  grid-area: about;
  display: block;
}

.fotoPersonal {
  width: 20em;
  padding: 3em 0 0;
  margin-right: 17em;
  left: 77em;
  float: right;
}

//////////////////////////////////////////ANIMACIONES//////////////////////////////////////////////

.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2.2s
    both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2.4s both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

////////////////////////////////////////FOOTER/////////////////////////////////////////

.footer_container_about {
  height: 27em;
}

/////////////////////////////////////////HERO SVG////////////////////////////////////////////////
#logo2 {
  animation: fill 2s ease forwards 2.2s;
  position: absolute;
  top: 31%;
}

#logo2 path:nth-child(1) {
  stroke-dasharray: 618.7611694335938;
  stroke-dashoffset: 618.7611694335938;
  animation: line-anim 2s ease forwards;
}

#logo2 path:nth-child(2) {
  stroke-dasharray: 624.1314086914062;
  stroke-dashoffset: 624.1314086914062;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo2 path:nth-child(3) {
  stroke-dasharray: 398.0327453613281;
  stroke-dashoffset: 398.0327453613281;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo2 path:nth-child(4) {
  stroke-dasharray: 453.0461120605469;
  stroke-dashoffset: 453.0461120605469;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo2 path:nth-child(5) {
  stroke-dasharray: 338.5740966796875;
  stroke-dashoffset: 338.5740966796875;
  animation: line-anim 2s ease forwards 2.1s;
}

//////////////////////////////////////////////MEDIA QUERY//////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .div_contenedor_about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105vh 27em;
    grid-template-areas:
      "header   "
      "footer   ";
  }

  .header_contenedor {
    grid-area: header;
    height: 100vh;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "nav  nav "
      "hero hero";
    padding: 0 2em;
  }

  //////////////////////////////HERO

  .hero {
    width: 100%;
    grid-area: hero;
    padding-bottom: 3em;

    h1 {
      font-size: 2em;
      padding-bottom: 0.5em;
    }

    .hero_p {
      font-size: 1.3em;
      padding-bottom: 0.5em;
    }
  }

  .button_cv {
    padding: 10px;
    margin: 0;
    font-size: 1em;
  }

  .fotoPersonal {
    margin-right: 0;
    width: 12em;
    padding: 15em 0 0;
    float: right;
    margin: 0;
  }

  .about_text {
    padding: 8em 0 0 0;
    margin: 0;
  }
  .about_text_h2 {
    font-size: 2em;
    margin: 0;
    width: 9em;
    padding-top: 0;
  }
  .about_text_p {
    font-size: 1.2em;
    padding: 0;
    padding-top: 0;
    width: 17em;
    margin: 0;
    font-weight: 300;
  }
  #logo2 {
    position: absolute;
    top: 21%;
    width: 15em;
  }
  .footer_container_about {
    height: 27em;
  }

  // .footer_conteiner {
  //   width: 100vw;
  // }
}
