$bgPrimario: #fff;
$bgSecundario: #d2d2d2;
$btnColor1: #13c782;
$btnColor2: #1334c7;
$grisOscuro: #3a3a3a;
$grisMedio: #5e5c5c;

@mixin contenedores($bgContenedor) {
  display: grid;
  padding: 0 15em;
  background-color: $bgContenedor;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

@mixin h1 {
  font-size: 2em;
  padding-top: 2em;
}

@import "body";
@import "header";
@import "projects";
@import "technologies";
@import "footer";
@import "about";
@import "darkMode";
@import "svgAnimation";
